* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: $bg-body;
}
.change {
    display: flex;
    align-items: center;
    margin: 100px;
    #analog{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 10px $clock-digital;
        &:hover{
            background-color: $clock-digital;
            box-shadow: 0 0 10px $clock-digital, 0 0 40px $clock-digital;
        }
    }
    #digital{
        width: 60px;
        height: 30px;
        margin-left: 30px;
        border-radius: 5%;
        box-shadow: 0 0 10px $clock-digital;
        &:hover{
            background-color: $clock-digital;
            box-shadow: 0 0 10px $clock-digital, 0 0 40px $clock-digital;
        }
    }
}