@import "config";
@import "main";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bg-body2;
}

.digital {
    display: flex;
    color: $clock-digital;
    font-size: 12em;
    font-family:'digital-clock-font';
    letter-spacing: 10px;
    word-spacing: 10px;
    text-shadow: 0 0 10px $clock-digital;
    box-shadow: 0 0 10px $clock-digital;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    padding: 0 20px;
}
@media(max-width:1000px){
    .digital{
        font-size: 8em;
    }
}
@media(max-width:700px){
    .digital{
        font-size: 4em;
    }
}
